version: '3.8'

services:
  web:
    build: .
    ports:
      - '5555:5555'
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/retail_inventory_db
    depends_on:
      - db
    volumes:
      - .:/usr/src/app

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=retail_inventory_db
    ports:
      - '5432:5432'

volumes:
  postgres_data:
